---
import ProjectLocalComercial from "./ProjectLocalComercial.astro";
import ProjectInfoGeneral from "./ProjectInfoGeneral.astro";
import ProjectLocation from "./ProjectLocation.astro";
import ProjectMonoambiente from "./ProjectMonoambiente.astro";
import ProjectDosAmbientes from "./ProjectDosAmbientes.astro";
---

<section id="info-proyecto" class="py-20">
  <ProjectInfoGeneral />
  <ProjectMonoambiente />
  <ProjectDosAmbientes />
  <ProjectLocalComercial />
  <ProjectLocation />
</section>
